{% extends "base.html"%}
{% block content %}


<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <center>
      <div class="card">

        <a href="{{url_for('news')}}">
          <img src="../static/screenshots/error404.gif" class="card-img" alt="...">
        </a>

        <div class="card-body">
          <p class="card-text">

            <h1 style="color:red;">
              <strong>
                Error 404 !!!
                <br>Page not found.
                <br><br>
                <em style="color:blue;">
                  {{message}}
                </em>
              </strong>
            </h1>

          </p>
        </div>

      </div>
    </center>

  </div>
</div>

{% endblock %}
