{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

  <title>Firebase Chatting</title>

</head>

<body>
  <center>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-dark" role="alert">
                <h1 style="color:black;">
                  <strong>
                    FIR Portal
                    <br>
                    Register Crime
                  </strong>
                </h1>

            </div>
          </div>
        </div>

        <div class="alert alert-dark" role="alert">
          <h1 style="color:black;">
            <strong>
              Page Views = {{pageviews}}
            </strong>
          </h1>
        </div>

        <br>
          <form method="post" action="/converted_admin" enctype="multipart/form-data">
            <div class="jumbotron jumbotron-fluid">

              <br>
              <div class="card text-white bg-dark mb-3" role="alert">
                <h3 style="color:white;">
                  <strong>Select Crime</strong>
                </h3>

                <div class="row row-cols-1 row-cols-md-2">
                  <br>
                  <div class="alert alert-dark" role="alert">
                    <div class="col-md-6">
                      <br><br>
                      <img src="../static/crime/murder.jpg" width = "100%">
                      <br><br>
                      <div class="custom-control custom-radio">
                        <input value="murder" type="radio" id="audio" name="turn" class="form-check-input" checked>
                        <label class="form-check-label" for="customRadio1">
                          <h5>Murder</h5>
                        </label>
                      </div>
                    </div>
                  </div>

                  <br>
                  <div class="alert alert-dark" role="alert">
                    <div class="col-md-6">
                      <br><br>
                      <img src="../static/crime/rape.jpg" width = "100%">
                      <br><br>
                      <div class="custom-control custom-radio">
                        <input value="rape" type="radio" id="audio" name="turn" class="form-check-input">
                        <label class="form-check-label" for="customRadio1">
                          <h5>Rape</h5>
                        </label>
                      </div>
                    </div>
                  </div>

                  <br>
                  <div class="alert alert-dark" role="alert">
                    <div class="col-md-6">
                      <br><br>
                      <img src="../static/crime/chain.jpg" width = "100%">
                      <br><br>
                      <div class="custom-control custom-radio">
                        <input value="chain" type="radio" id="audio" name="turn" class="form-check-input">
                        <label class="form-check-label" for="customRadio1">
                          <h5>Chain Snatching</h5>
                        </label>
                      </div>
                    </div>
                  </div>

                  <br>
                  <div class="alert alert-dark" role="alert">
                    <div class="col-md-6">
                      <br><br>
                      <img src="../static/crime/domestic.jpg" width = "100%">
                      <br><br>
                      <div class="custom-control custom-radio">
                        <input value="domestic" type="radio" id="audio" name="turn" class="form-check-input">
                        <label class="form-check-label" for="customRadio1">
                          <h5>Domestic Violence</h5>
                        </label>
                      </div>
                    </div>
                  </div>

                  <br>
                  <div class="alert alert-dark" role="alert">
                    <div class="col-md-6">
                      <br><br>
                      <img src="../static/crime/kidnape.jpg" width = "100%">
                      <br><br>
                      <div class="custom-control custom-radio">
                        <input value="kidnape" type="radio" id="audio" name="turn" class="form-check-input">
                        <label class="form-check-label" for="customRadio1">
                          <h5>Kidnapping</h5>
                        </label>
                      </div>
                    </div>
                  </div>

                  <br>
                  <div class="alert alert-dark" role="alert">
                    <div class="col-md-6">
                      <br><br>
                      <img src="../static/crime/robbry.jpg" width = "100%">
                      <br><br>
                      <div class="custom-control custom-radio">
                        <input value="robbry" type="radio" id="audio" name="turn" class="form-check-input">
                        <label class="form-check-label" for="customRadio1">
                          <h5>Robbry</h5>
                        </label>
                      </div>
                    </div>
                  </div>

                  <br>
                  <div class="alert alert-dark" role="alert">
                    <div class="col-md-6">
                      <br><br>
                      <img src="../static/crime/terrorist.jpg" width = "100%">
                      <br><br>
                      <div class="custom-control custom-radio">
                        <input value="terrorist" type="radio" id="audio" name="turn" class="form-check-input">
                        <label class="form-check-label" for="customRadio1">
                          <h5>Terrorist</h5>
                        </label>
                      </div>
                    </div>
                  </div>

                  <br>
                  <div class="alert alert-dark" role="alert">
                    <div class="col-md-6">
                      <br><br>
                      <img src="../static/crime/cyber.jpg" width = "100%">
                      <br><br>
                      <div class="custom-control custom-radio">
                        <input value="cyber" type="radio" id="audio" name="turn" class="form-check-input">
                        <label class="form-check-label" for="customRadio1">
                          <h5>Cyber Crime</h5>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

              <br>
              <div class="alert alert-dark" role="alert">
                <h2 style="color:black;">
                  <strong>
                    Enter Aadhar Number
                  </strong>
                </h2>

                <br>
                <input type="text" name="aadhar" placeholder="...to uniquely identify people"/>
                <br><br>
              </div>

              <br>
              <div class="alert alert-dark" role="alert">
                <a target="_blank" href="/vicksmail">
                  <h2 style="color:red;">
                    <strong>
                      Click me to<br>Get OTP
                    </strong>
                  </h2>
                </a>

                <br>
                <input type="text" name="otp" placeholder="Enter OTP"/>
                <br><br>
              </div>

              <br>
              <div class="alert alert-dark" role="alert">
                <h3 style="color:black;">
                  <strong>Fill<br>FIR details</strong>
                </h3>
                <br>

                <!-- <input type="text" name="message" placeholder="Let's Start Healthy Conversation"/> -->
                <textarea name="message" rows="15" cols="60">
   Exact Timing :

   Date of Crime :

   Age of Criminal :

   Name of Criminal :

   Location of Crime :

   Gender of Criminal :

   Blood Group of Criminal:

                 </textarea>

                <br><br>
                <textarea name="description" id="result1" rows="7" cols="60">

                            Type or Speak Description
                </textarea>
                <br><br>

                <div class="alert alert-light" role="alert">
                  <h2 style="color:black;">
                    <strong>
                      Voice Typing feature
                      <br>
                      works best on Laptop
                    </strong>
                  </h2>
                  <br><br>

                  <div class="alert alert-dark" role="alert">
                    <h4>Click me to <strong>START</strong> speaking...</h4>
                    <button type = "button" onclick="startConverting();">
                      <i class="fa fa-microphone"></i>
                    </button>
                  </div>

                  <div class="alert alert-dark" role="alert">
                    <h4>Click me to <strong>TURN OFF</strong> mic...</h4>
                    <button type = "button" onclick="stopConverting();">
                      <i class="fa fa-remove">
                      </i>
                    </button>
                  </div>
                </div>

                <script type="text/javascript">

                  var overlay = document.getElementById("overlay");

                    var r = document.getElementById('result1');
                    var speechRecognizer = new webkitSpeechRecognition();// a new speech recognition object

                    //function to start listening to voice and then convert it to text
                    function startConverting () {
                      if('webkitSpeechRecognition' in window){

                        speechRecognizer.continuous = true;
                        speechRecognizer.interimResults = true;
                        speechRecognizer.lang = 'en-IN';
                        speechRecognizer.start();

                        var finalTranscripts = '';
                        speechRecognizer.onresult = function(event){
                          var interimTranscripts = '';

                          for(var i = event.resultIndex; i < event.results.length; i++){
                            var transcript = event.results[i][0].transcript;
                            transcript.replace("\n", "<br>");

                            if(event.results[i].isFinal){
                              finalTranscripts += transcript;
                            }

                            else{
                              interimTranscripts += transcript;
                            }
                          }
                          r.value = finalTranscripts + interimTranscripts ;
                        };
                        speechRecognizer.onerror = function (event) {
                        };
                      }

                      else{
                        r.innerHTML = 'No browser support. Please upgrade your browser';
                      }
                    }

                    //function to stop listening
                    function stopConverting()
                    {
                      speechRecognizer.stop();
                    }

                  </script>
                <br>
              </div>
              <br><br>

              <input type="file" name="file" />

              <br><br>
                <input type="image"
                       src="../static/logo/redsubmit.png"
                       width="200"
                       height="60"
                       alt="submit"/>

          </div>
          <br><br>
        </form>

      <br>
  </center>
</body>
</html>

{% endblock %}
